# Python derleme dosyaları
__pycache__/
*.pyc

# Sanal ortam klasörleri (varsa)
venv/
env/
.env

# Editör ayar dosyaları (isteğe bağlı)
.vscode/
.idea/

# SSL Sertifikaları (her kullanıcı kendi üretmeli)
server.crt
server.key
*.crt
*.key
*.pem

# Geçici dosyalar
.mah_history

# Log dosyaları
config/logs/
